{% extends 'base.html.twig' %}

{% block body %}
    <div id="list" class="panel">
        <h2 class="h2 panel-heading">Item list</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr id="tr-{{ item.id }}">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a id="{{ item.id }}" class="reduce btn btn-danger" href="#" >reduce</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
